* {
  margin: 0%;
  font-family: "Roboto", sans-serif;
  padding: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  &:hover {
    color: blueviolet;
  }
}

.App {
  display: flex;
}

.sideBar {
  width: 20%;
}

.rightBar {
  min-width: 80%;
}

.chatButton {
  position: fixed;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  bottom: 20px;
  right: 20px;
  background-color: #4da16f;
  color: #fff;
  padding: 8px 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
